 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #AA86C7;
active-foreground: #F9E5E9;
normal-background: #292732;
normal-foreground: #F9E5E9;
urgent-background: #AA86C7;
urgent-foreground: #F9E5E9;

alternate-active-background: #A586C8;
alternate-active-foreground: #F9E5E9;
alternate-normal-background: #292732;
alternate-normal-foreground: #F9E5E9;
alternate-urgent-background: #292732;
alternate-urgent-foreground: #F9E5E9;

selected-active-background: #AA86C7;
selected-active-foreground: #F9E5E9;
selected-normal-background: #AA86C7;
selected-normal-foreground: #F9E5E9;
selected-urgent-background: #AA86C7;
selected-urgent-foreground: #F9E5E9;

background-color: #292732;
background: rgba(0,0,0,0.7);
foreground: #F9E5E9;
border-color: #AA86C7;

color0: #4F4C58;
color1: #1C1842;
color2: #455E9B;
color3: #7C6496;
color4: #7F6495;
color5: #7F6495;
color6: #B2878F;
color7: #EED1D7;
color8: #A69296;
color9: #252058;
color10: #5C7ECF;
color11: #A586C8;
color12: #AA86C7;
color13: #AA86C7;
color14: #EDB4BF;
color15: #EED1D7;


}

