 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #727272;
active-foreground: #E8E8E8;
normal-background: #2A2A2A;
normal-foreground: #E8E8E8;
urgent-background: #7B7B7B;
urgent-foreground: #E8E8E8;

alternate-active-background: #3B3B3B;
alternate-active-foreground: #E8E8E8;
alternate-normal-background: #2A2A2A;
alternate-normal-foreground: #E8E8E8;
alternate-urgent-background: #2A2A2A;
alternate-urgent-foreground: #E8E8E8;

selected-active-background: #7B7B7B;
selected-active-foreground: #E8E8E8;
selected-normal-background: #7B7B7B;
selected-normal-foreground: #E8E8E8;
selected-urgent-background: #727272;
selected-urgent-foreground: #E8E8E8;

background-color: #2A2A2A;
background: rgba(0,0,0,0.7);
foreground: #E8E8E8;
border-color: #727272;

color0: #4F4F4F;
color1: #292929;
color2: #292929;
color3: #2C2C2C;
color4: #565656;
color5: #5C5C5C;
color6: #8E8F8F;
color7: #D6D6D6;
color8: #969696;
color9: #363636;
color10: #373737;
color11: #3B3B3B;
color12: #727272;
color13: #7B7B7B;
color14: #BEBEBE;
color15: #D6D6D6;


}

