install*

home/config/deprecated/ranger/plugins/
all.txt
home/config/hypr/wallust
home/config/mpv/cache
home/config/mpv/script-opts
home/config/hypr/wallpaper_effects
home/config/waybar/wallust/colors-waybar.css
home/config/rofi/wallust/colors-rofi.rasi
home/config/waybar/wallust/colors-waybar.css
home/config/swaync/wallust
