@define-color bg rgba(0, 0, 0, 0.4); 
@define-color bg-amadeus rgba(255, 174, 75, 0.25); 
@define-color bg-white rgba(255, 255, 255, 0.1); 
/* @define-color bg rgba(255, 255, 255, 0.1);  */

*{
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;	
	font-size: 22px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	border-radius: 10px;
}
	
window#waybar {
	background:transparent;
  /* border: 2px solid #aaaaaa; */
}
	

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#language,
#network,
#power-profiles-daemon,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-hyprpicker,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
   margin-top: 14px;
  /* margin-left: 10px; */
  box-shadow: 0 0 2px #000000;
  margin-right: 10px;
  margin-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  /* border: 1px solid @bg-white; */
  background-color: @bg;
}
#workspaces {
  padding-left: 1px;
  padding-right: 1px;
}
#workspaces button{
  border: 2px solid transparent
}
#workspaces button:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #ffffff;
	border-radius: 10px;
}

/**/
/* #taskbar button,	    */
/* #workspaces button { */
/* 	color: #ffffff; */
/* } */
   
#workspaces button.empty {
  color: #000000;
}

#workspaces button.active,
#workspaces button.urgent {
	color: whitesmoke;
  border: 2px solid #aaaaaa;
  box-shadow: 0 0 3px #ffffff;
  border-radius: 11px;
}
   
#workspaces button.active {
	color: whitesmoke;
}
#workspaces button.urgent {
	color: whitesmoke;
  border: 2px solid #ff0000;
  box-shadow: 0 0 5px #ff0000;
}
  
#workspaces button.focused {
	color: #d8dee9;
}
	   
/* #workspaces button:hover { */
/* 	color: whitesmoke; */
/*     border-radius: 15px; */
/*  	padding-left: 2px; */
/*     padding-right: 2px; */
/* } */
	
	 
#tray {
  margin-right: 20px;
}
#workspaces {
  margin-left: 15px;
}


#temperature.critical {
	background-color: #ff0000;
}
   
@keyframes blink {
	to {
	color: #000000;
	   }
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

/* #taskbar button:hover { */
/*     padding-left: 3px; */
/*     padding-right: 3px; */
/*     animation: gradient_f 20s ease-in infinite; */
/*     transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/* } */
/**/
/* #taskbar button.active { */
/* 	background-color: #7f849c; */
/*     padding-left: 12px; */
/*     padding-right: 12px; */
/*     animation: gradient_f 20s ease-in infinite; */
/*     transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/* } */
	   
#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;  
	min-height: 10px; 
	border-radius: 5px;
	background-color: black;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px; 
	border-radius: 5px;
	background-color: wheat;
}
	
	
